
<h1>E-Car Rental Service!</h1>
<div>
  <%= link_to "<b>Sign in with Google</b>".html_safe, "/auth/google_oauth2", id: "sign_in"  %><br><br>
  <p> or </p>
  <%= link_to "<b>Sign in via username</b>".html_safe, 'signin'  %><br>
  <%= link_to "<b>Sign Up</b>".html_safe, new_user_path %>
</div>
