<h1>Car List</h1>

<%= flash[:notice] %>
<br>
<br>

<table class="table">
  <thead>
    <tr>
      <th colspan="7"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th align = "left">Name</th> <!-- this will be where the sort-links will be-->
      <th>Name: </th>
      <th></th>
    </tr>
    <% @cars.each do |car| %>
      <tr>
        <td><%= car.name %>
        <td><%=link_to "Edit", edit_admin_car_path(car) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
