<h1> Welcome, <%= @user.name %>!</h1>

<%= link_to "View all Bookings and Stats", admin_bookings_path %> <br><br>

<%= link_to "Manage Cars", admin_cars_path %> <br><br>

<%= link_to "Back to Profile", user_path(@user) %> <br><br>
